.write{
    padding-top: 50px;
}
.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeFormGroup label i{
    width: 25px;
    height: 25px;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #444;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    border: none;
    border-radius: 5%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}